<header>
    <h1>Advanced Forms Concepts</h1>
    <p>Implementation of various examples found in this AngularConnect 2017 talk by Kara Erikson</p>
    <a href="https://www.youtube.com/watch?v=CD_t3m2WMM8">Link to Youtube</a>
</header>
<section class="form-section">
    <form>
        <p>Custom Form Component</p>
        <required-text [formControl]="name_input"></required-text>
    </form>
</section>
<section class="form-section">
    <p>Composite Nested Form (reactive parent form)</p>
    <form [formGroup]="address_form_group" class="nested-form">       
        <address-composite-form formControlName="address"></address-composite-form>
        <p class="form-value" *ngIf="(address_form_group.valueChanges | async) as data">{{ data.address | json }}</p>
    </form>
</section>
<section class="form-section">
    <p>Composite Nested Form (template parent form)</p>
    <form #f="ngForm" class="nested-form">       
        <address-composite-form ngModel name="address"></address-composite-form>
        <p class="form-value">{{f.value.address | json}}</p>
    </form>
</section>
<section class="form-section">
    <p>Template Sub Form</p>
    <form #sf="ngForm" class="nested-form">       
        <template-sub-form></template-sub-form>
        <p class="form-value">{{sf.value.address | json}}</p>
    </form>
</section>
<section class="form-section">
    <p>Reactive Sub Form</p>
    <form [formGroup]="reactive_sub_form_group" class="nested-form">       
        <reactive-sub-form></reactive-sub-form>
        <p class="form-value" *ngIf="(reactive_sub_form_group.valueChanges | async) as data">{{ data.address | json }}</p>
    </form>
</section>